body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.right {
    align: right;
}

.dualcol {
    display: block;
    width: 50%;
    float: left;
}

li.myitem{
    list-style-type: square!important;
    margin: 0% 0% 0% 3%;
}
.collapse {
    background-color: #ffffff;
    border: none;
    outline: none;
    font-size: 35px;
}

.collapse:active,
.collapse:focus,
.collapse:hover {
    background-color: #ffffff!important;
}

.toCollapse {
    display: none
}
