body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.right {
    align: right;
}

li.myitem{
    list-style-type: square!important;
    margin: 0% 0% 0% 3%;
}
